#month-template{
    display: none;
}
.month-title{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.4rem;
    color: teal;
    cursor: default;
}
th{
    width: 3rem;
}


.day{
    margin: 0.5rem;
    padding: 0.5rem;
    color: teal;
    text-align: center;
    font-weight: bold;
    font-size: large;

}


.day:hover{
    background-color: teal;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

section#calendar{
    display: flex;
    flex-wrap: wrap;
    /* background-image: url(../../assets/images/bg-flora.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.month{
    padding: 1rem;
    display: block;
}