#month-template{
    display: none;
}

.month-title{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.4rem;
    color: teal;
    cursor: default;
}


#month-view{
    display: none;
}
.month-lg td{
    padding: 2rem !important;
    margin: 5rem !important;
    font-size: larger !important;
}


.month-lg .month-title{
    font-size: 2rem;
}


.month-task{
    padding: 1rem;
    border-bottom: 4px solid teal;
    flex-grow: 1;
    list-style: none;

}

th{
    width: 3rem;
}


.day{
    margin: 0.5rem;
    padding: 0.5rem;
    color: teal;
    text-align: center;
    font-weight: bold;
    font-size: large;

}


.day:hover{
    background-color: teal;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

section#year-view{
    display: flex;
    flex-wrap: wrap;
    background-image: url(../../assets/images/bg-flora.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.month{
    padding: 1.1rem;
}

#week-view{
    display: none;
}