:root{
    --primary: #008484;
    --secondary: silver;
    --white: #f1f1f1;
    --dark: #484848;
    --selected: #53b0e6f6;
    --selected-outline: #1d84bf;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}


body {
    font-family: Poppins;
    padding: 0px;
    margin: 0px;
}


section{
    display: flex;
    justify-content: center;
}

.col{
    display: block;
 }


.row{
    padding: 0.3rem;
    width: 9rem;
    font-size: small;
    border: 1px solid var(--dark);
    background-color: rgb(0, 132, 132);
    color: var(--white);
    height: 3rem;
}

.d-block{
    display:block !important;
}

.index {
    font-weight: bold;
    font-size: medium;
    background-color: var(--secondary);
    color: var(--dark);
    top: 0;
}

.label{
    /* position: sticky; */
    z-index: 1;
}



.p-1{
    padding: 0.5rem;
}

