#month-template{
    display: none;
}
.month-title{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.4rem;
    color: teal;
    cursor: default;
}
th{
    width: 3rem;
}


.day{
    margin: 0.5rem;
    padding: 0.5rem;
    /* min-width: 2rem; */
    border: 1px solid teal;
    background-color: teal;
    color: white;
    text-align: center;

}


.day:hover{

    background-color: white;
    color: teal;
    cursor: pointer;
}

section#calendar{
    display: flex;
    flex-wrap: wrap;
}

.month{
    padding: 1rem;
    display: block;
}